[user]
	name = Vitalii Rybachenko
	email = vit@ribachenko.com

[include]
    path = ~/.gitconfig.creds

[github]
  user = vitaliyr

[push]
  default = current

[color]
  ui = true

[core]
	excludesfile = /Users/salen/.gitignore_global
	editor = nano
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true

[advice]
  statusHints = false

[log]
  abbrevCommit = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	defaultBranch = master
