[submodule "nano/nanorc"]
	path = nano/nanorc
	url = https://github.com/nanorc/nanorc.git
[submodule "intellij/tmbundles/java.tmbundle"]
	path = intellij/tmbundles/java.tmbundle
	url = https://github.com/textmate/java.tmbundle
[submodule "intellij/tmbundles/python.tmbundle"]
	path = intellij/tmbundles/python.tmbundle
	url = https://github.com/textmate/python.tmbundle
