[submodule "nano/nanorc"]
	path = nano/nanorc
	url = https://github.com/scopatz/nanorc.git
[submodule "terminal/highlight"]
	path = terminal/highlight
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "terminal/completion"]
	path = terminal/completion
	url = https://github.com/zsh-users/zsh-completions
